{{ block "dashboard" . }}
<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Keep Calm & Budget On | Envelope Budgeting | Zero Based Budgeting</title>
	<meta name="description"
		content="Ready to finally get your budget on track? Explore easy-to-use budgeting techniques that work. Keep calm and budget on!">
	<link rel="shortcut icon" href="static/favicon.png" type="image/png">
	<link href="static/styles.css" rel="stylesheet">
	<script src="static/htmx.min.js"></script>
</head>

<body>
	<header>
		<nav>
			<p>
				<b>New nav for authenticated area...</b>
			</p>
	</header>

	<main>
		<section id="content">
			{{ if .User }}
			<p>Welcome, {{ .User.Name }}</p>
			{{ end }}
		</section>
	</main>

	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", (event) => {
			document.body.addEventListener('htmx:beforeSwap', function (evt) {
				if (evt.detail.xhr.status === 422) {
					// allow 422 responses to swap as we are using this as a signal that
					// a form was submitted with bad data and want to rerender with the
					// errors
					//
					// set isError to false to avoid error logging in console
					evt.detail.shouldSwap = true;
					evt.detail.isError = false;
				}
			});
		});
	</script>
</body>

</html>
{{ end }}