{{ block "index" . }}
<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Keep Calm & Budget On | Envelope Budgeting | Zero Based Budgeting</title>
	<meta name="description"
		content="Ready to finally get your budget on track? Explore easy-to-use budgeting techniques that work. Keep calm and budget on!">
	<link href="static/styles.css" rel="stylesheet">
	<script src="static/htmx.min.js"></script>
</head>

<body>
	<header>
		<nav>
			<p>
				<b>Keep Calm & Budget On</b>
			</p>

			<ul>
				<li>
					{{ if .User }}
					<button type="button" hx-post="/auth/sign-out" hx-target="body">Sign Out</button>
					{{ end }}
					{{ if not .User }}
					<button type="button" hx-get="/auth/sign-in" hx-target="section">Sign In</button>
					{{ end }}
				</li>
			</ul>
		</nav>
	</header>

	<main>
		<section id="content"></section>
	</main>

	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", (event) => {
			document.body.addEventListener('htmx:beforeSwap', function (evt) {
				if (evt.detail.xhr.status === 422) {
					// allow 422 responses to swap as we are using this as a signal that
					// a form was submitted with bad data and want to rerender with the
					// errors
					//
					// set isError to false to avoid error logging in console
					evt.detail.shouldSwap = true;
					evt.detail.isError = false;
				}
			});
		});
	</script>
</body>

</html>
{{ end }}

{{ block "auth-form" . }}
<div class="auth-form-wrapper">
	<form id="auth-form" hx-post="/auth/sign-in" hx-target="body">
		<p>Sign in to Napp</p>
		<small>
			An example user has been created in the database for you, you can login
			using: <b>johnsnow@winterfell.com</b> and <b>ghost</b>
		</small>
		<div>
			Email:
			<label for="email">
				<input type="text" name="email" value="" />
			</label>
		</div>
		<div>
			Password:
			<label for="password">
				<input type="password" name="password" value="" />
			</label>
		</div>
		<button type="submit">Sign In</button>
	</form>
</div>
{{ end }}