{{ block "index" . }}
<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Keep Calm & Budget On | Envelope Budgeting | Zero Based Budgeting</title>
	<meta name="description"
		content="Ready to finally get your budget on track? Explore easy-to-use budgeting techniques that work. Keep calm and budget on!">
	<link rel="shortcut icon" href="static/favicon.png" type="image/png">
	<link href="static/styles.css" rel="stylesheet">
	<script src="static/htmx.min.js"></script>
</head>

<body>
	<header>
		<nav>
			<p>
				<b>Keep Calm & Budget On</b>
			</p>

			<ul>
				{{ if .User }}
				<li>
					<a href="/dashboard" class="btn">My Budget</a>
				</li>
				{{ end }}

				{{ if not .User }}
				<li>
					<button class="btn" type="button" hx-get="/auth/sign-in" hx-target="#content">Sign In</button>
				</li>
				{{ end }}

			</ul>
		</nav>
	</header>

	<main>
		<section id="content"></section>
	</main>

	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", (event) => {
			document.body.addEventListener('htmx:beforeSwap', function (evt) {
				if (evt.detail.xhr.status === 422) {
					// allow 422 responses to swap as we are using this as a signal that
					// a form was submitted with bad data and want to rerender with the
					// errors
					//
					// set isError to false to avoid error logging in console
					evt.detail.shouldSwap = true;
					evt.detail.isError = false;
				}
			});
		});
	</script>
</body>

</html>
{{ end }}

{{ block "signin-form" . }}
<div class="auth-form-wrapper">
	<form id="auth-form" hx-post="/auth/sign-in" hx-target="body">
		<p>Keep Calm & Budget On: Sign In</p>
		<div>
			Email:
			<label for="email">
				<input type="text" name="email" value="" />
			</label>
		</div>
		<div>
			Password:
			<label for="password">
				<input type="password" name="password" value="" />
			</label>
		</div>
		<button class="btn" type="submit">Sign In</button>
	</form>
	<p>Neet to create an account? <span hx-get="/auth/sign-up" hx-target="#content">Sign Up</span></p>
</div>
{{ end }}

{{ block "signup-form" . }}
<div class="auth-form-wrapper">
	<form id="auth-form" hx-post="/auth/sign-up" hx-target="body">
		<p>Keep Calm & Budget On: Sign Up</p>
		<div>
			Name:
			<label for="name">
				<input type="text" name="name" value="" />
			</label>
		</div>
		<div>
			Email:
			<label for="email">
				<input type="text" name="email" value="" />
			</label>
		</div>
		<div>
			Password:
			<label for="password">
				<input type="password" name="password" value="" />
			</label>
		</div>
		<button class="btn" type="submit">Sign Up</button>
	</form>
	<p>Already have an account? <span hx-get="/auth/sign-in" hx-target="#content">Sign In</span></p>
</div>
{{ end }}